%h1 Shopping Cart

- if @items
	%table.table.items
		-@items.each do |i|
			%tr.item
				%td.name= i.product.name
				%td.quantity= i.quantity
				%td.price= i.price
	=link_to 'Checkout', checkout_url, class: 'btn btn-primary'
- else
	%h2 Your cart is empty