%h1 Product Detail
=link_to 'Edit', edit_product_url, class: 'btn btn-primary' if session[:current_user_id]
=link_to 'Delete', @product, confirm: 'Are you sure?', method: :delete, class: 'btn btn-primary' if session[:current_user_id]

%h2.name= @product.name
=image_tag @product.photo      
%p.description= @product.description
%p.price= @product.price      
