%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Suuq
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to products_url do
            %span.glyphicon.glyphicon-home
        - if admin?
          %li= link_to 'Orders', orders_url
      /   %li
      /     %a{:href => "#"} Link
      /   %li.dropdown
      /     %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      /       Dropdown
      /       %span.caret
      /     %ul.dropdown-menu{:role => "menu"}
      /       %li
      /         %a{:href => "#"} Action
      /       %li
      /         %a{:href => "#"} Another action
      /       %li
      /         %a{:href => "#"} Something else here
      /       %li.divider
      /       %li
      /         %a{:href => "#"} Separated link
      /       %li.divider
      /       %li
      /         %a{:href => "#"} One more separated link
      / %form.navbar-form.navbar-left{:role => "search"}
      /   .form-group
      /     %input.form-control{:placeholder => "Search", :type => "text"}/
      /   %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        - if admin?
          %li  
            =link_to products_new_url do
              %span.glyphicon.glyphicon-plus
        %li
          =link_to shopping_cart_url do
            %span.glyphicon.glyphicon-shopping-cart
            %span.badge.items-count
        %li
          =link_to 'Sign In', signin_url unless current_user
          =link_to( 'Logout', signout_url, {method: :delete} ) if current_user